.list-box {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04724D;
}

.list-element {
    cursor: pointer;
    float: left;
    padding: 1rem;
}

.list-element:hover {
    background-color: #56876D;
}